<ion-header>

</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts" style="height: 100%; background:url(../../assets/img/bg2.png); background-size: cover;
  background-repeat: no-repeat;">

        <ion-slide class="slide">
            <ion-grid>
                <ion-row>
                    <img src="../../assets/img/starnet-logo.png">
                </ion-row>
                <ion-row style="margin-top: -20px;">
                    <div class="texto-intro centro-text">BEM VINDO!!!</div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="slide">
            <ion-grid>
                <ion-row class="centro-text">
                    <img src="../../assets/img/hand-graving-smartphone.png" class="centraliza-img">
                </ion-row>
                <ion-row>
                    <div class="texto-intro">Gerencie seus dados Móveis com o Starnet Móvel na palma da sua mão!!!</div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="slide">
            <ion-grid>
                <ion-row class="centro-text">
                    <img src="../../assets/img/adicionar-smartphone.png" class="centraliza-img">
                </ion-row>
                <ion-row>
                    <div class="texto-intro">Acabou seus dados moveis?<br><br>Não se preocupe, adquira dados adicionais
                        direto pelo Aplicativo!</div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="slide">
            <ion-grid>
                <ion-row class="centro-text">
                    <img src="../../assets/img/phonebook_white.png" class="centraliza-img">
                </ion-row>
                <ion-row>
                    <div class="texto-intro">Quer saber o quanto consome de Internet, Ligações e Sms?<br><br>Faça seu
                        Extrato e controle seu consumo!!!
                    </div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="slide">
            <ion-grid>
                <ion-row class="centro-text">
                    <img src="../../assets/img/atendimento-ao-cliente.png" class="centraliza-img">
                </ion-row>
                <ion-row>
                    <div class="texto-intro">Surgiu duvidas? Teve problemas? Abra um chamado conosco!<br><br>Entraremos
                        em contato para Ajuda-lo!</div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="slide">
            <ion-grid>
                <ion-row class="centro-text">
                    <img src="../../assets/img/starBoy.png" class="centraliza-img">
                </ion-row>

                <ion-button color="primary" (click)="Open()" shape="round" expand="block" size="large"
                    style="margin-top: -10px;">
                    Começar
                </ion-button>

            </ion-grid>
        </ion-slide>
    </ion-slides>

</ion-content>