
.fundo {

    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.star {

    --color:#ffc999;
    --color-selected: #fd8215;
  
}

